body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 244, 246);
    color: rgb(10, 26, 39);
}
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/
.montserrat-<uniquifier> {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: <weight>;
                 font-style: normal;
             }
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Young Serif", serif;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin: 21.44px;
    text-align: center;
}
h2 {
   display: block;
   font-family: "Young Serif", serif;
   font-size: 24px;
   font-weight: 700;
   margin: 19.92px;
   text-align: left;
   text-transform: uppercase;
}
.container {
    display: block;
    overflow: scroll;
    width: 100%;
    border: 2px solid gray;
    font-family: "Montserrat", sans-serif;
    margin: 10px 0px;
    padding: 10px;
}
.color-mini {
    display: inline-block;
    height: 350px;
    width: 450px;
    justify-content: center;
    padding-left: 40px;
}
.swatch {
    display: block;
    height: 220px;
    width: 220px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 22px;
}
.description {
    display: block;
    list-style: none;
    padding-left: 0px;
}
.swatch.color-one {
    background-color: rgb(10, 26, 39);
    color: rgb(243, 244, 246);
}
.swatch.color-two {
    background-color: rgb(68, 81, 90);
    color: rgb(243, 244, 246);
}
.swatch.color-three {
    background-color: rgb(133, 160, 179);
    color: rgb(243, 244, 246);
}
.swatch.color-four {
    background-color: rgb(186, 200, 211);
    color: rgb(243, 244, 246);
}

.swatch.color-five {
    background-color: rgb(92, 134, 156);
    color: rgb(243, 244, 246);
}
.swatch.color-six {
    background-color: rgb(243, 244, 246);
    color: rgb(10, 26, 39);
}

.font-mini {
    display: inline-block;
    padding-left: 10px;
}    

.font-cont {
    display: block;
    width: 320px;
    text-align: left;
    margin-left: 10px;
}
.font-name {
    font-family: ;
    display: block;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}
.font-reg {
    display: block;
    text-decoration: none;
    font-style: normal;
    margin: 8px 0px;
}
.font-ital {
    display: block;
    font-style: italic;
    text-decoration: none;
    margin: 8px 0px;
}

.font-bold {
    display: block;
    width: 310px;
    font-weight: 700;
    margin: 8px 0px;
}

.font-alphabet {
    display: block;
    font-family: ;
    text-decoration: none;
    font-style: normal;
    margin: 8px 0px;
}

.f-description {
    display: block;
    list-style: none;
    padding-left: 0px;
    margin-left: 19.92px;
}

.font-one {
    font-family: "Young Serif", serif;
}
.font-two {
    font-family: "Montserrat", sans-serif;
}
.font-three {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.t-one {
    font-family: "Young Serif", serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(92, 134, 156);
}
.t-two {
    font-family: "Young Serif", serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(92, 134, 156);
}
.t-three {
    font-family: "Young Serif", serif;
    font-weight: bolder;
    font-size: 1.17em;
    color: rgb(133, 160, 179);
}
.t-four {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1em;
    color: rgb(10, 26, 39);
}

.btn-primary {
    background-color: rgb(243, 244, 246);
    color: rgb(10, 26, 39);
    padding: 10px 20px;
    border: 1px solid #0a1a27;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.btn-secondary {
    background-color: rgb(92, 134, 156);
    color: rgb(243, 244, 246);
    padding: 10px 20px;
    border: 1px solid #0a1a27;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.btn-icon {
    background-color: rgb(92, 134, 156);
    color: rgb(243, 244, 246);
    border: none;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.snippet {
    background-color: #808e9b;
    color: #f5f5f5;
}